body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Card-reverse img {
  height: 250px;
  width: 150px;
  -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg); /* FF */
  -o-transform: rotate(180deg); /* Opera */
  -ms-transform: rotate(180deg); /* IE9 */
  transform: rotate(180deg);
}

.Card img{
  height: 250px;
  width: 150px;
}

.Card-front {

}

.hidden {
  display: none;
}

.cardPositionInfo{

}

.PyramidLayout-cards {

  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: center;
  	align-items: baseline;
  	align-content: stretch;

}
